<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<meta http-equiv='X-UA-Compatible' content='ie=edge'>
<title>404 Not Found</title>
<link rel='stylesheet' href=''>
<script defer src=''></script>
</head>
<body>
<h1 style="color: red;" >ERROR 500</h1>
<h2 style="color: red;">Internal Server ERROR</h2>
</body>
</html>