<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<meta http-equiv='X-UA-Compatible' content='ie=edge'>
<title>rendered using EJS</title>
<link rel='stylesheet' href=''>
<script defer src=''></script>
</head>
<body>
<h1>Your Page is Generated</h1>
<h2>You can view it on</h2>
<h3><%= redirect %></h3>
<br>
<h2>You can view the visitor count on </h2>
<h3><%= analytics %></h3>
</body>
</html>