<!-- <!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<meta http-equiv='X-UA-Compatible' content='ie=edge'>
<title>rendered using EJS</title>
<link rel='stylesheet' href=''>
<script defer src=''></script>
</head>
<body>
<h1>Hello from EJS</h1>
<h1>This is HomePage</h1>


<form action="/" method="post">
<input type="text" name="url" placeholder="Enter URL">
<input type="submit" value="Generate Short URL">
</form>

  
</body>
</html> -->


<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Rendered using EJS</title>
</head>
<body>
  <h1>Hello from EJS</h1>
  <h1>This is HomePage</h1>

  <form action="/" method="post">
    <input type="text" name="url" placeholder="Enter URL" required>
    <input type="submit" value="Generate Short URL">
  </form>
</body>
</html>
